@media screen and (max-width: 767px){
	.mb-24 {
	    margin-bottom: 15px;
	}
	.d-flex {
		flex-wrap: wrap;
	}
	.page-padding {
	    padding: 50px 0px;
	}
	.page-title > h2,
	.hiring-title h2 {
	    font-size: 38px;
	}
	.page-title > p,
	.faq-box-list .content > p,
	.hiring-title p {
	    font-size: 14px;
	}
	header {
	    padding: 15px 0px 0px;
	}
	.h--right > ul {
	    display: none !important;
	}
	.h--main > .logo img {
	    max-width: 120px;
	}
	.hero-text h1 {
	    font-size: 46px;
	}
	.h--center .navbar {
	    max-height: calc(100vh - 180px);
	    overflow-y: auto;
	}
	.hero-text > p,
	.hero-text .hero-rate,
	.hiring-text > p {
		font-size: 16px;
	}
	.hero-text > p {
	    margin-bottom: 20px;
	}
	.hiring-software .page-title h2 {
		font-size: 34px;
	}
	.software-main .hiring-box {
	    flex-wrap: wrap;
	    gap: 30px;
	    margin-bottom: 30px;
	}
	.hiring-main {
	    padding: 40px;
	}
	.hiring-box .hiring-media {
	    order: 1;
	    width: 100%;
	    margin: 0px auto;
	}
	.hiring-box .hiring-text {
	    order: 2;
	}
	.hiring-text h2 {
	    font-size: 28px;
	}
	.hiring-text > ul > li {
	    font-size: 14px;
	}
	.statstic-card {
	    padding: 20px 20px;
	    gap: 15px;
	    flex-wrap: wrap;
	}
	.statstic-box > p {
	    font-size: 16px;
	    margin-bottom: 15px;
	}
	.statstic-box > h3 {
	    font-size: 32px;
	}
	.hiring-media > .hm-box {
        width: auto;
        height: auto;
    }
    .hm-box.js-second {
	    padding-top: 10px;
	}
    .hiring-media > .hm-box::after {
		background-size: 180px;
	}
    .hm-box > img {
	    padding: 0px 10px;
	}
	/*.hiring-media > .hm-box::after {
		background-size: 180px;
	}
	.hiring-media > .hm-box.box1 > img {
	    max-width: 218px;
	}
	.hiring-media > .hm-box.box2 {
	    padding-top: 20px;
	}
	.hiring-media > .hm-box.box2 > img {
        max-width: 204px;
    }
    .hiring-media > .hm-box.box3 {
	    padding: 20px 0px 0px 10px;
	}
	.hiring-media > .hm-box.box3 > img {
	    max-width: 216px;
	}
	.js-second.h-box1 > img {
	    max-width: 185px;
	}
	.js-second.h-box2 > img {
		max-width: 165px;
	}
	.js-second.h-box3 > img {
        max-width: 215px;
    }*/
	.footer-copyright {
	    padding: 30px 0px;
	}
	.f-logo img {
	    max-width: 100px;
	}
	.statstic,
	.team {
	    padding-bottom: 0px;
	}
	.f-main {
	    gap: 35px;
	    justify-content: space-between;
	}
	.f-main > .contact-btn {
		position: static;
	}
	.f-main > .contact-btn > .btn.btn-secondary {
	    padding: 14px 25px;
	}
}
@media screen and (max-width: 575px){
	.hero {
        padding: 100px 0px 0px;
    }
	.hero-text h1 {
        font-size: 32px;
    }
    .hiring-software .page-title h2,
    .page-title > h2, 
    .hiring-title h2 {
        font-size: 28px;
    }
    .hiring-text h2 {
	    font-size: 22px;
	}
	.hero-text > p, 
	.hero-text .hero-rate, 
	.hiring-text > p,
	.statstic-box > p {
        font-size: 14px;
    }
    .hiring-main {
        padding: 20px;
    }
    .statstic-box > h3 {
        font-size: 26px;
    }
    .faq-box-list > a {
	    line-height: normal;
	}
	.faq-box-list {
	    padding: 14px 14px;
	}
    .faq-main {
	    padding: 20px;
	}
	.f-top-text {
	    gap: 15px;
	}
	.copiright-text {
	    display: block !important;
	    text-align: center;
	}
	.copiright-text > p {
	    font-size: 14px;
	}
	.copiright-text .f-social {
	    justify-content: center;
	    margin-top: 15px;
	    gap: 20px;
	}
	.f-social a > svg {
	    max-width: 20px;
	    height: auto;
	}
	.f-top-text > .f-top-left {
	    flex-wrap: nowrap;
	}
	.footer-top .f-top-right {
	    display: none;
	}
}
@media screen and (min-width: 576px) {
	.f-email {
		display: none;
	}
}
@media screen and (max-width: 767px) and (min-width: 576px) {
	.f-top-right > a {
		font-size: 15px;
	}
	.copiright-text > p {
	    font-size: 15px;
	}
	.f-social > a > svg {
	    max-width: 20px;
	    height: auto;
	}
}
@media screen and (max-width: 479px) {
	.hero-form .form-control {
	    width: 100%;
	}
	.hero-form .btn-secondary {
	    margin: 0px auto;
	}
	.h-timer > #countDown {
		gap: 10px;
	}
	.c-timer > span {
	    width: 65px;
	    height: 65px;
	    font-size: 30px;
	    margin-bottom: 12px;
	}
	.c-timer {
	    font-size: 14px;
	}
	.f-main {
	    gap: 30px;
	}
}
@media screen and (max-width: 767px) and (min-width: 480px) {
	.h-timer > #countDown {
	    gap: 15px;
	}
	.c-timer > span {
	    width: 90px;
	    height: 90px;
	    font-size: 40px;
	}
}
@media screen and (max-width: 991px) {
	body.show {
	    overflow: hidden;
	}
	body.show .navbar-toggler {
	    opacity: 0;
	}
	body.show::before {
	    content: "";
	    height: 100%;
	    width: 100%;
	    background: rgb(0 0 0 / 50%);
	    border-radius: 16px;
	    backdrop-filter: blur(5px);
	    -webkit-backdrop-filter: blur(5px);
	    position: fixed;
	    top: 0px;
	    bottom: 0px;
	    left: 0px;
	    right: 0px;
	    z-index: 1;
	}
	header .navbar-toggler {
        padding: 0px;
        border: 0px;
        outline: 0px !important;
    }
    .collapse:not(.show) {
	    display: inline;
	}
	.h--center {
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100vh;
        background: linear-gradient(0deg, rgba(15, 104, 122, 0.05), rgba(15, 104, 122, 0.05)), linear-gradient(0deg, #001112, #001112), #000000;
        max-width: 280px;
        width: 280px;
        padding: 15px 15px;
        z-index: 99;
        transition: all 0.3s;
        transform: translateX(-280px);
    }
    body.show .h--center {
    	transform: translateX(0px);
    }
	header .navbar-nav .nav-item,
	.navbar .navbar-nav {
	    margin: 0px 0px 15px;
	}
	header .navbar-nav .nav-item:last-child,
	.navbar .navbar-nav:last-child {
		margin-bottom: 0px;
	}
	header .navbar-nav .nav-item > .nav-link {
	    font-size: 16px;
	}
	.responsive-btn {
        margin-top: 20px;
        display: inline-block;
    }
	.re-header {
	    border-bottom: 1px solid rgb(240 242 250 / 24%);
	    padding-bottom: 15px;
	    margin-bottom: 25px;
	}
	.responsive-btn .btn.btn-primary {
	    width: 100%;
	    padding: 14px 14px;
	}
	.re-header > .logo img {
	    max-width: 120px;
	}
	.hiring-text .page-btn {
	    margin-top: 30px;
	}
	.team-main {
	    display: block !important;
	}
	.team-main {
	    flex-wrap: wrap;
	}
	.team-card {
        width: auto !important;
        background: #000E0F;
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 15px;
    }
	.team-card .team-media,
	.team-card.hover .team-media {
		display: none;
	}
	.team-card > .team-text {
	    position: static;
	    width: auto;
	    height: auto;
	    padding: 0px;
	    opacity: 1;
	    visibility: visible;
	}
	.team-info > p {
	    font-size: 18px;
	}
	.team-text > .team-info {
	    height: auto;
	    margin-bottom: 30px;
	}
	.author-text > h3 {
	    font-size: 16px;
	}
	.author-text > p {
	    font-size: 14px;
	}
	.team-main .owl-nav,
	.team-main .owl-dots {
	    display: none;
	}
}
@media screen and (max-width: 991px) and (min-width: 768px){
	.page-padding {
	    padding: 50px 0px;
	}
	.btn.btn-primary {
	    padding: 14px 24px;
	}
	.responsive-btn {
	    display: none;
	}
	.h--right {
	    display: flex;
	    align-items: center;
	    gap: 16px;
	}
	.navbar-nav.me-auto.nab-bottom {
	    display: none;
	}
	header .navbar-nav .nav-item, 
	.h--right ul > li {
	    margin-right: 25px;
	}
	header .navbar-nav .nav-item > .nav-link, 
	.h--right ul > li > a {
	    font-size: 15px;
	}
	.hero-text h1 {
	    font-size: 48px;
	}
	.hero-text > p,
	.hero-text .hero-rate {
		font-size: 18px;
	}
	.h-timer > #countDown {
		gap: 15px;
	}
	.c-timer > span {
        width: 110px;
        height: 110px;
        font-size: 48px;
    }
	.hiring-software .page-title h2,
	.page-title > h2,
	.hiring-title h2 {
	    font-size: 38px;
	}
	.hiring-text h2 {
	    font-size: 24px;
	}
	.hiring-text > p,
	.hiring-title p,
	.page-title > p {
	    font-size: 16px;
	}
	.hiring-text > ul > li,
	.faq-box-list .content > p {
		font-size: 14px;
	}
	.hiring-main {
	    padding: 40px 40px;
	}
	.hiring-box .hiring-media {
	    max-width: 300px;
	}
	.hiring-box .hiring-text {
	    max-width: 260px;
	}
	.software-main .hiring-box {
	    margin-bottom: 50px;
	}
	.statstic-card {
	    gap: 20px;
	}
	.statstic-card > .statstic-box {
	    width: 33.33%;
	}
	.statstic-box > p {
	    font-size: 18px;
	}
	.statstic-box > h3 {
	    font-size: 28px;
	}
	.hiring-media > .hm-box {
	    width: 300px;
	    height: 263px;
	}
	.hiring-media > .hm-box::after {
		background-size: 180px;
	}
	.hiring-media > .hm-box.box1 > img {
	    max-width: 264px;
	}
	.hiring-media > .hm-box.box2 {
	    padding-top: 30px;
	}
	.hiring-media > .hm-box.box2 > img {
	    max-width: 238px;
	}
	.hiring-media > .hm-box.box3 {
        padding: 30px 0px 0px 15px;
    }
	.hiring-media > .hm-box.box3 > img {
        max-width: 254px;
    }
    .js-second.h-box1 > img {
	    max-width: 230px;
	}
	.js-second.h-box2 > img {
		max-width: 200px;
	}
	.js-second.h-box3 > img {
        max-width: 260px;
    }

	.footer-copyright {
	    padding: 30px 0px;
	}
}
@media screen and (max-width: 1199px) and (min-width: 992px){
	.team-card {
	    width: 180px;
	    height: auto;
	}
	.team-card.hover .team-media {
		max-width: 122px;
	}
	.team-info > p {
	    font-size: 13px;
	}
	.team-card > .team-text {
	    left: 150px;
	}
	.team-text > .team-info {
	    height: calc(100% - 76px);
	}
	.team-author .gap-16 {
	    margin-bottom: 8px;
	}
	.author-text > h3 {
		font-size: 16px;
	}
	.author-text > p {
	    font-size: 14px;
	}
	.team-author .ratting > img {
	    max-width: 100px;
	}
	.author-media > img {
	    max-width: 40px;
	}
	.hiring-media > .hm-box {
        width: 390px;
        height: 342px;
    }
    .hiring-media > .hm-box::after {
		background-size: 250px;
	}
	.hiring-media > .hm-box.box1 > img {
        max-width: 350px;
    }
    .hiring-media > .hm-box.box2 > img {
        max-width: 300px;
    }
    .hiring-media > .hm-box.box3 {
	    padding: 65px 0px 0px 30px;
	}
    .hiring-media > .hm-box.box3 > img {
        max-width: 300px;
    }
    .js-second.h-box1 > img {
	    max-width: 280px;
	}
	.js-second.h-box2 > img {
		max-width: 250px;
	}
	.js-second.h-box3 > img {
        max-width: 320px;
    }
}
@media screen and (max-width: 1399px) and (min-width: 992px){
	.page-padding {
	    padding: 50px 0px;
	}
	header {
	    padding: 20px 0px 0px;
	}
	header .navbar-nav .nav-item, 
	.h--right ul > li {
	    margin-right: 22px;
	}
	header .navbar-nav .nav-item > .nav-link, 
	.h--right ul > li > a {
	    font-size: 15px;
	}
	.hero-text h1 {
	    font-size: 52px;
	}	
	.hero-text > p,
	.hero-text .hero-rate {
	    font-size: 18px;
	}
	.hiring-software .page-title h2,
	.page-title > h2,
	.hiring-title h2 {
	    font-size: 38px;
	}
	.hiring-text h2 {
	    font-size: 32px;
	}
	.hiring-text > p,
	.faq-box-list .content > p {
	    font-size: 16px;
	}
	.software-main .hiring-box {
	    gap: 30px;
	}
	.hiring-box .hiring-text {
	    max-width: 440px;
	}
	.statstic-box > p {
	    font-size: 18px;
	}
	.statstic-box > h3 {
	    font-size: 38px;
	}
}
@media screen and (max-width: 1399px) and (min-width: 1200px){
	.team-card.hover {
	    width: 454px;
	}
	.team-info > p {
		font-size: 18px;
	}	
	.author-text > h3 {
	    font-size: 18px;
	}
	.author-text > p {
	    font-size: 12px;
	}
}
@media screen and (max-width: 1799px) and (min-width: 1400px){
	.hero-text h1 {
	    font-size: 58px;
	}
	.hiring-software .page-title h2 {
		font-size: 38px;
	}
}
@media screen and (min-width: 992px) {
	.re-header,
	.navbar-nav.nab-bottom,
	.responsive-btn,
	.navbar-toggler {
		display: none !important;
	}
	.h--main > div {
	    width: 33.33%;
	}
	.navbar .navbar-nav {
	    margin: 0px auto;
	}
	.h--right > ul {
	    justify-content: end;
	}
}